<div>
    <h1 class="logo-monochrome">{{{logo}}}</h1>
    <h1 class="page__header">Регистрация</h1>
    <form class="register-page__form-container">
        <div class="page__input-form">
            {{{mailInput}}}
            {{{loginInput}}}
            {{{firstName}}}
            {{{secondName}}}
            {{{phoneInput}}}
            {{{passwordInput}}}
            {{{passwordAgain}}}
        </div>
    </form>
    {{{loginBtn}}}
    {{{regBtn}}}
</div>
