<div>
    <div class="setting_container_avatar">
        <label for="avatar">
            {{{avatar}}}
        </label>
        <input id="avatar" type="file"/>
    </div>
    <form class="change-page__form-container">
        <div class="page__input-form">
            {{{mailInput}}}
            {{{loginInput}}}
            {{{firstName}}}
            {{{secondName}}}
            {{{phoneInput}}}
            {{{nicknameInput}}}
        </div>
    </form>
    {{{saveBtn}}}
    {{{backBtn}}}
</div>
