  <main class="container profile">
    {{{sideButton}}}
    {{{image}}}
    <form class="profile__inputs-container" id="form">
        {{{input}}}
        {{{input1}}}
        {{{input2}}}
      {{{button}}}
    </form>
    