<div>
    <div class="setting_container_avatar">
        {{{avatarImg}}}
    </div>
    <div class="profile-data">
        <h1>Tropik</h1>
        {{{label1}}}
        {{{label2}}}
        {{{label3}}}
        {{{label4}}}
        {{{label5}}}
        {{{label6}}}
    </div>
    {{{changeDataButton}}}
    {{{changePasswordButton}}}
    {{{logoutButton}}}
</div>
