<main class="container profile">
    {{{sideButton}}}
    {{{image}}}
    <h5 class="profile__header">{{{name}}}</h5>
    <form class="profile__inputs-container">
        {{{input}}}
        {{{input1}}}
        {{{input2}}}
        {{{input3}}}
        {{{input4}}}
        {{{input5}}}
        {{{input6}}}
    </form>
    {{{editProfile}}}
    {{{editPassword}}}
    {{{logout}}}
</main>
