<main class="container registration">
    <form class="form" id="form">
        <h5 class="form__header">Регистрация</h5>
        <section class="form__inputs-container">
            {{{input}}}
            {{{input2}}}
            {{{input3}}}
            {{{input4}}}
            {{{input5}}}
            {{{input6}}}
            {{{input7}}}
        </section>
        {{{button}}}
        <a class="form__link" href={{btnHref}}>{{linkText}}</a>
    </form>
</main>
