<div class="contact">
    <div class="contact-avatar-wrapper">
        <div class="contact-avatar">
            {{{avatar}}}
        </div>
    </div>
    <div class="contact-content">
        <div class="contact-content-header">
            <div>{{contact_name}}</div>
            <div class="contact-time-value">{{last_message_time}}</div>
        </div>
        <div class="contact-content-body">
            <span>{{last_message}}</span>
        </div>
        <div class="contact-content-footer">
            <div class="message-counter">
                <div class="message-counter-value">{{unread_message_count}}</div>
            </div>
        </div>
    </div>
</div>
