<section class="chat__sidebar">
  <div class="links-panel">
    {{{addChat}}}
    {{{profileLink}}}
  </div>
  {{{searchForm}}}
  {{{chatModal}}}
  {{{addOrDeleteUserModal}}}
  <div class="sidebar-user-chat">
      {{#each chatList}}
        {{{this}}}
        {{/each}}
  </div>
</section>
