<div class="err__data">
    <h1 class="logo-monochrome">{{logo}}</h1>
    <div>{{{errImage}}}</div>
    <div class="err-page__header">
        <span class="span_err">{{code}}</span>
        <p class="err_description">{{text}}</p>
        <br/>
        <a class="link-to-chats" href="http://localhost:1234/">{{link}}</a>
    </div>
</div>
